<div class="container">
  <div class="row mb-4">
    <h1>Viewing All Students</h1>
  </div>

  <div class="row mb-4">
    <div class="list-group col">
      <% @students.each do |student| %>
        <button type="button" class="list-group-item list-group-item-action">
          <%= link_to student.name, student %>
        </button>
      <% end %>
    </div>
    <div class="col"></div>
    <div class="col">
      <div class="text-left pt-3">
          <button type="button" class="btn btn-warning btn-lg">
            <%= link_to "Register as a student", new_student_path %>
          </button>
        </div>
      </div>
  </div>
</div>
