<div>
    <h1>Hello, <%= @user.username %> </h1>
    <h2>Account type: <%= @user.account_type %></h2>
    <% if @user.account_type == "Camp" %>
    <a href="/camps">Camp Portal</a>
    <% elsif @user.account_type == "Teacher" %>
    <a href="/teachers">Teacher Portal</a>
    <% elsif @user.account_type == "Student" %>
    <a href="/students">Student Portal</a>
    <% end  %>
</div>
